/*----------------------------------------*/
/*  Footer
/*----------------------------------------*/

.footer_main {
    background-color: $dark-background-default;
}

.footer-module {
    .image-wrapper {
        max-width: 120px;
        margin-right: 1rem;
    }
}


.footer-social {
    display: flex;

    a {
        margin-right: 20px;
    }
}

.single-module {
    display: flex;
}
