/*----------------------------------------*/
/*  Footer
/*----------------------------------------*/

.section-footer {
    background-color: $color-gris-1;
    padding-top: 30px;
}
.footer_main {
    background-color: $color-gris-1;
    padding: 30px 0 10px 0;

    .footer-heading {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}


.footer-container {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-logo {
    text-align: center;

    img {
        width: 160px;
    }
}


.footer-social {
    display: flex;
    justify-content: center;

    a {
        margin: 0 10px;
        font-size: 2em;
        color: $heading-text-color;
    }
}

.footer-nav-wrapper {

    ul {

        padding-bottom: 30px;

        li {

            a {
                color: $heading-text-color;
            }
        }
    }
}


.footer-subscribe-wrapper {
    .footer_newsletter-btn {
        border-radius: 25px;
        background-color: $white;
        color: $heading-text-color;
        font-weight: 600;
        height: 38px;
        margin-bottom: 10px;
        border: 1px solid $heading-text-color;
        line-height: 36px;
        outline: 0;
        padding: 0 2rem;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            background-color: $heading-text-color;
            color: $white;
            border: 1px solid $white;
        }
    }

    .input-field {
        margin-bottom: 5px;


        .input-subscribe {
            background-color: #fff;
            border: 1px solid #564242;
            color: $heading-text-color;
            padding: 0 4px;
            width: 100%;
        }
    }

    .checkbox_subscribe {
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;

        input {
            margin: 6px 4px 0 0;
        }

    }
}

.footer-middle {
    padding: 30px;

    .image-wrapper {
        max-width: 120px;
        margin-right: 1rem;
        margin: 0 auto 20px;
        
    }
}

.footer-copyright {
    background-color: #f2eeed;
    padding: 22px;

    p {
        font-size: 12px;
        color: $heading-text-color;
        text-align: center;
        margin-bottom: 0;

    }
}
