/*----------------------------------------*/
/*   Portfolio CSS
/*----------------------------------------*/

.fusion-column {
    position: relative;
    color: $white;

    .block-content {
        position: relative;
        z-index: 6;
    }

}

.fusion-wrapper {
    padding: 45px 0 30px 0;
    background-color: $heading-text-color;
    background-image: url(../img/img-one.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        margin: auto;
        background: rgba($heading-text-color, 0.65);

    }
}

.two-col-list {

    .puces-rouges {
        list-style-type: none;

        li {
            padding-left: 60px;
            margin-bottom: 20px;
            background-image: url(../img/puces-rouges.png);
            background-repeat: no-repeat;
            background-position: 0 11px;
        }
    }
}

.two-col-list {

    .btn-border {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

}
