/*----------------------------------------*/
/* Header
/*----------------------------------------*/
.tp-header-menu-area {
    position: fixed;
    top: 0px;

}

.header-content {
    display: flex;
}

.menu_nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.navbar_wrap {
    display: flex;
    flex-grow: 1;

    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;

        & li {
            display: block;
            position: relative;

            & a {
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 40px 25px;
                display: inline-flex;
                line-height: 1;
                position: relative;
                z-index: 1;
            }
        }
    }
}
