/*----------------------------------------*/
/* Header
/*----------------------------------------*/


.header-layout {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: $dark-background-default;
}

.menu_nav {
    width: 98%;
    margin: 0 auto;
}
.header-content {
    display: flex;
}

.header-logo-img {
    width: 108px;
}
.menu_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.navbar_wrap {
    display: flex;
    flex-grow: 1;

    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 0;

        & li {
            display: block;
            position: relative;

            & a {
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 25px 15px;
                display: inline-flex;
                line-height: 1;
                position: relative;
                z-index: 1;
                color: $white;
                
                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }
}
