/*====================  
   Project 
====================*/
.section-projects {
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-bottom: 30px;

}

.project-item {
    display: block;
    margin-bottom: 25px;
}

.project-box {
    position: relative;
    overflow: hidden;


    &:hover {
        .on-hover {
            opacity: 1;
        }
    }

    .on-hover {
        background: rgba(255, 255, 255, 0.8);
        padding: 15px;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 8;
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
    }
}


.on-hover {

    .headline {
        margin-bottom: 15px;
          margin-top: 34px;
    }
}

.headline-card {
    height: 80px;
}

.project-name {
    a {
        color: $heading-text-color;

        &:hover {
            text-decoration: underline;
        }
    }

}

.ribbon-wrapper {
    width: 145px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;

    .ribbon_project {
        font-size: 12px;
        top: 40px;
        right: -40px;
        width: 200px;
        background-color: #92d050;
        height: auto;
        color: $white;
        text-align: center;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        padding: 5px 0;
        text-transform: uppercase;
    }

}

.project-donation {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    width: 41px;
    height: 44px;
    text-align: right;
    img {
        width: 34px;
    }
}

.project-statistics {
    padding: 10px 0;
    border-top: 2px solid $color-gris-1;
}

.statistics-list {
    display: flex;
    padding-left: 0;
    text-align: center;
    justify-content: space-between;

    p {
        color: $primary-color;
        font-size: 12px;
        line-height: 1.1em;

        span {
            display: block;
        }

    }

    i {
        color: $primary-color;
    }
}

.progress_bar {

    font-size: 12px;
    text-align: center;
    height: 22px;
    color: $white;
    background-color: $primary-color;
}

.out-bar {
    background-color: $color-gris-1;
    color: $heading-text-color;
    text-align: center;
}

.progress-project {
    display: flex;
    background-color: $color-gris-1;
    height: 22px;
    font-size: 12px;
}

.projects_pagination {
    padding: 20px 0;
}
