/*====================  
   Project 
====================*/
.section-projects {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
    
}
.project-item {
    
}

.project-name {
    color: $white;
}

.progress-project {
    background-color: $primary-color;
}