//
// responsive.scss
//

@media (min-width: 1200px) {
    .container-100 {
        max-width: 1140px;
    }
}


@media (min-width: 1025px) {
    .menu_nav {

        .nav-menus-wrapper {
            display: flex  !important;

        }
    }
}

@media (max-width: 1024px) {
    .hide-mobile {
        display: none;
    }

    .nav-holder-s {
        display: none;
    }

    .show-mobile {
        display: block;
    }

    
    .header-layout {
        position: absolute;
        
    }
    .menu_toggle.show-mobile {

        display: flex;
        position: absolute;
        left: 25px;
        top: 15px;
    }

    .site-header-logo {
        margin: 0 auto;
    }

    .menu_nav {
        position: relative;

        .nav-menus-wrapper {
            display: none;
            position: absolute;
            background-color: $dark-background-default;
            width: 100%;
            top: 63px;
            left: 0;
            right: 0;
        }
    }



    .navbar_wrap {
        display: flex;


        & ul {

            flex-direction: column;
            margin-bottom: 0;
            padding: 0;
            display: block;
            width: 100%;
            text-align: center;

            & li {
                display: block;
                position: relative;


                & a {
                 
                    padding: 8px 15px;
                    width: 100%;


                    &:hover {
                        background-color: $background-hover;
                    }
                }
            }
        }
    }

    .nav-auth {

        ul {
            flex-direction: column;
            width: 100%;
            margin-bottom: 10px;

            li {

                display: block;
                text-align: center;

                a {
                    padding: 8px 15px;
                     width: 100%;

                    &:hover {
                        background-color: $background-hover;
                    }

                }
            }

        }
    }
}



@media (max-width: 768px) {
    .heading-itText {
        display: inline-block;
        font-size: 40px;
    }
}
