// Variables

// Font Family
$font-family-heading: 'Fjalla One';
$font-family-body: 'JetBrains Mono';


$heading-text-color:#191B1E;
$body-text-color: #68666C;
$dark-background-default: #031f31; 


// Theme Colors ---------------
$primary-color: #e75d5d;
$secondary-color: #3333cc;


// Other color
$white: #ffffff;

