/*----------------------------------------*/
/*   video CSS
/*----------------------------------------*/

.media-home-page {
    width: 70%;
    margin: 50px auto;
    position: relative;
}

.video_youtube iframe {
   
    width: 100%;
}
